:root {
    --bg-color: hsl(0, 0%, 0%);
    --text-color: hsl(0, 0%, 100%);
    font-size: 15px;
}
.container {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 400px) {
    .container {
        flex-direction: column;
    }
}
.card {
    width: 300px;
    height: 400px;
    padding: 1.5em;
    color: var(--text-color);
    background: var(--bg-color);
    display: grid;
    grid-template-rows: 3em 3em auto 3em;
}
.card__title{
    text-transform: uppercase;
}
.card__button {
    border-radius: 4em;
    border: 1px solid white;
    text-decoration: none;
    color: var(--bg-color);
    background: var(--text-color);
    padding: 1em;
}
#el1 {
    --bg-color: hsl(31, 77%, 52%);
}
#el1 > .card__button:hover {
    --bg-color: hsl(0, 0%, 100%);
    --text-color: hsl(31, 77%, 52%);
}
#el2 {
    --bg-color: hsl(184, 100%, 22%);
}
#el2 > .card__button:hover {
    --bg-color: hsl(0, 0%, 100%);
    --text-color: hsl(184, 100%, 22%);
}
#el3 {
    --bg-color: hsl(179, 100%, 13%);
}
#el3 > .card__button:hover {
    --bg-color: hsl(0, 0%, 100%);
    --text-color: hsl(179, 100%, 13%);
}
